[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/NikolayGalkin
[access "refs/for/refs/*"]
	read = group user/NikolayGalkin
	push = group user/NikolayGalkin
	label-Code-Review = -2..+2 group user/NikolayGalkin
	label-Verified = -1..+1 group user/NikolayGalkin
	rebase = group user/NikolayGalkin
	removeReviewer = group user/NikolayGalkin
	submit = group user/NikolayGalkin
[access "refs/heads/*"]
	read = group user/NikolayGalkin
	create = group user/NikolayGalkin
	push = +force group user/NikolayGalkin
	pushMerge = group user/NikolayGalkin
[access "refs/tags/*"]
	push = +force group user/NikolayGalkin
	pushTag = group user/NikolayGalkin
	pushSignedTag = group user/NikolayGalkin
